<div class="cinema-image">
    <div class="cinema-content">
        <h1 id="cinema-name">Cinema Ironhack</h1>

        <div class="button">
            <a href="/movies" class="btn-primary">Check the movies!</a>
        </div>
    </div>

    <img src="/images/cinema.jpg" alt="cinema">
</div>